<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Table Customer</h2>
  <a href="/customers/new"  class="btn btn-primary">Add Customer </a>
  <table class="table">
    <thead>
    <tr>
      <th>Id</th>
      <th >Name</th>
      <th >Email</th>
      <th >Phone</th>
      <th >Action</th>
    </tr>
    </thead>
    <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
        <td><%= customer.name %></td>
        <td><%= customer.email %></td>
        <td><%= customer.phone %></td>
        <td>
          <a href="/customers/<%= customer.id %>/update"  class="btn btn-primary"> Edit </a>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

</body>
</html>


